.expand {
	transition-duration: 400ms;
	transition-timing-function: ease-in;
	transition-property: none;
}

.expand-appear-active,
.expand-enter-active,
.expand-exit-active {
	transition-property: all;
	overflow: hidden;
}

.expand-appear,
.expand-enter,
.expand-exit-done {
	max-height: 0;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	overflow: hidden;
}

.expand-exit {
	overflow: hidden;
}
.expand-exit-active {
	max-height: 0;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}